{% extends "base.html" %}
{% load static %}
{% load cart_multiply %}

{% block title %}Корзина{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'cart/styles.css' %}"> <!-- Подключаем файл стилей -->

<div class="cart-container">
    <h1>Ваша Корзина</h1>
    {% if cart.items.all %}
        <ul>
            {% for item in cart.items.all %}
                <div class="cart-item">
                    <li>
                        <h3>{{ item.product.name }}</h3>
                        <p>{{ item.quantity }} x {{ item.product.price }} ₽ = {{ item.quantity|multiply:item.product.price }} ₽</p>
                        <form action="{% url 'cart:update_cart' %}" method="post">
                            {% csrf_token %}
                            <label for="quantity_{{ item.id }}">Количество:</label>
                            <input type="number" name="quantity_{{ item.id }}" value="{{ item.quantity }}" min="1">
                            <button type="submit">Обновить</button>
                        </form>
                        <a href="{% url 'cart:remove_from_cart' item.id %}" class="btn">Удалить</a>
                    </li>
                </div>
            {% endfor %}
        </ul>
        <p class="cart-total">Общая сумма: {{ cart.get_total_price }} ₽</p>
        <a href="{% url 'orders:create_order_no_id' %}" class="btn">Создать заказ</a>
    {% else %}
        <p>Ваша корзина пуста.</p>
    {% endif %}
</div>
{% endblock %}
