<!-- templates/orders/order_history.html -->

{% extends "base.html" %}
{% load static %}
{% load orders_multiply %}

{% block title %}История Заказов{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'orders/orders.css' %}">

<div class="container order-history">
    <h1>История Ваших Заказов</h1>
    {% if orders %}
        {% for order in orders %}
            <div class="order-item">
                <h3>Заказ №{{ order.id }} - Статус: {{ order.get_status_display }} - {{ order.created_at|date:"d.m.Y H:i" }}</h3>

                <!-- Секция с информацией о доставке -->
                <div class="delivery-info">
                    <h4>Данные для доставки:</h4>
                    <p><strong>Адрес:</strong> {{ order.address }}</p>
                    <p><strong>Город:</strong> {{ order.city }}</p>
                    <p><strong>Почтовый индекс:</strong> {{ order.postal_code }}</p>
                    <p><strong>Телефон:</strong> {{ order.phone_number }}</p>
                </div>

                <!-- Секция с товарами заказа -->
                <ul>
                    {% for item in order.order_items.all %}
                        <li>{{ item.product.name }} - {{ item.quantity }} x {{ item.product.price }} ₽ = {{ item.quantity|multiply:item.product.price }} ₽</li>
                    {% endfor %}
                </ul>

                <!-- Общая сумма заказа -->
                <p class="order-total"><strong>Общая сумма заказа:</strong> {{ order.total_price }} ₽</p>

                <!-- Кнопка для повторного заказа -->
                <a href="{% url 'orders:reorder' order.id %}" class="btn">Повторить Заказ</a>
            </div>
        {% endfor %}
    {% else %}
        <p>У вас пока нет заказов.</p>
    {% endif %}
</div>
{% endblock %}
