{% extends "base.html" %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<h1>{{ product.name }}</h1>
<img src="{{ product.image.url }}" alt="{{ product.name }}">
<p>Цена: {{ product.price }} ₽</p>
<p>{{ product.description }}</p>

<form action="{% url 'cart:add_to_cart' product.id %}" method="post">
    {% csrf_token %}
    <label for="quantity">Количество:</label>
    <input type="number" name="quantity" id="quantity" value="1" min="1">
    <button type="submit">Добавить в корзину</button>
</form>

<!-- Отображение среднего рейтинга -->
<h3>Средний Рейтинг:
    {% if average_rating %}
        <span class="average-rating">{{ average_rating|floatformat:1 }}/5</span>
    {% else %}
        Нет рейтинга
    {% endif %}
</h3>

<!-- Ссылка для добавления отзыва -->
{% if user.is_authenticated %}
    <a href="{% url 'reviews:add_review' product.id %}">Добавить Отзыв</a>
{% else %}
    <p><a href="{% url 'account_login' %}">Войдите</a>, чтобы оставить отзыв.</p>
{% endif %}

<!-- Отображение отзывов -->
<h3>Отзывы</h3>
{% if reviews %}
    <ul class="review-list">
        {% for review in reviews %}
            <li class="review-item">
                <strong>{{ review.user.username }}</strong> -
                <span class="rating">{{ review.rating }}/5</span>
                <p>{{ review.comment }}</p>
                <p><em>{{ review.created_at }}</em></p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Нет отзывов.</p>
{% endif %}
{% endblock %}
